.time {
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-height: 124px;
  margin-bottom: 10px;
  font-size: 100px;
  letter-spacing: -2px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  font-size: 40px;
}
.greeting__text {
  padding: 10px;
}
.greeting__name {
  padding: 10px;
  font-size: 40px;
  background-color: transparent;
}
.greeting__name::-webkit-input-placeholder {
  opacity: 0.6;
}
.greeting__name::-moz-placeholder {
  opacity: 0.6;
}
.greeting__name:-ms-input-placeholder {
  opacity: 0.6;
}
.greeting__name::-ms-input-placeholder {
  opacity: 0.6;
}
.greeting__name::placeholder {
  opacity: 0.6;
}

.slider-icon {
  width: 60px;
  height: 80px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  background: none;
}
.slider-icon svg {
  width: 60px;
  height: 80px;
  stroke: #fff;
}
.slider-icon:hover svg {
  stroke: #e4e4e4;
  stroke-width: 2;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.slider-icon:active svg {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  stroke: lightgray;
  stroke-width: 5;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.slide-prev {
  left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-next {
  right: 20px;
}