.time {
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-height: 124px;
  margin-bottom: 10px;
  font-size: 100px;
  letter-spacing: -2px;
  // span{
  //   display: inline;
  //   color: rgb(58, 58, 58);
  //   font-size: 40px;
  // }
  // p{
  //   display: none;
  // }
}
.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}
.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 40px;
  &__text {
    padding: 10px;
  }
  &__name {
    padding: 10px;
    font-size: 40px;
    background-color: transparent;
    &::placeholder {
      opacity: 0.6;
    }
  }
}
