.time {
  text-align: left;
  font-family: "Poppins", sans-serif;
  min-height: 124px;
  margin-bottom: 10px;
  font-size: 100px;
  letter-spacing: -2px;
  // span{
  //   display: inline;
  //   color: rgb(58, 58, 58);
  //   font-size: 40px;
  // }
  // p{
  //   display: none;
  // }
}
.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}
.greeting {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100vw;
  font-size: 40px;
  &__text {
    padding: 10px;
  }
  &__name {
    padding: 10px;
    font-size: 40px;
    background-color: transparent;
    &::placeholder {
      opacity: 0.6;
    }
  }
}
.slider-icon {
  width: 60px;
  height: 80px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background: none;
  svg {
    width: 60px;
    height: 80px;
    stroke: #fff;
  }
  &:hover svg {
    stroke: rgb(228, 228, 228);
    stroke-width: 2;
    transition: all 150ms ease-in-out;
  }
  &:active svg {
    transform: scale(0.95);
    stroke: rgb(211, 211, 211);
    stroke-width: 5;
    transition: all 150ms ease-in-out;
  }
}

.slide-prev {
  left: 20px;
  transform: rotate(180deg);
}

.slide-next {
  right: 20px;
}
