.time {
  font-family: "Poppins", sans-serif;
  min-height: 124px;
  margin-bottom: 10px;
  font-size: 100px;
  letter-spacing: -2px;
  // span{
  //   display: inline;
  //   color: rgb(58, 58, 58);
  //   font-size: 40px;
  // }
  // p{
  //   display: none;
  // }
}
.date {
  font-family: "Poppins", sans-serif;
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}
