.change-quote {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  background: url("../../assets/img/reload.svg");
  background-size: cover;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.change-quote:hover {
  opacity: 0.8;
}

.quote {
  font-size: 35px;
  line-height: 40px;
  min-height: 32px;
}

.author {
  font-size: 25px;
  line-height: 55px;
  min-height: 20px;
  opacity: 0.9;
}