.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 500px;
  min-height: 180px;
  text-align: left;
  &-icon {
    font-size: 80px;
    margin: 20px 0;
  }
  &-text {
    color: white;
    font-size: 25px;
    line-height: 30px;
  }
  &-error {
    margin-top: 10px;
    color: rgb(160, 0, 0);
    font-weight: 500;
  }
}

.city {
  width: 90%;
  padding: 5px;
  font-size: 25px;
  line-height: 24px;
  color: #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  &::placeholder {
    font-size: 25px;
    color: #fff;
    opacity: 0.6;
  }
}
