.time {
  width: 400px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  margin-bottom: 10px;
  font-size: 100px;
  letter-spacing: -4px;
  padding-left: 27px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting {
  font-size: 30px;
}
.greeting__text {
  padding: 10px;
}
.greeting__name {
  max-width: 204px;
  padding: 10px;
  font-size: 30px;
  background-color: transparent;
}
.greeting__name::-webkit-input-placeholder {
  opacity: 0.6;
}
.greeting__name::-moz-placeholder {
  opacity: 0.6;
}
.greeting__name:-ms-input-placeholder {
  opacity: 0.6;
}
.greeting__name::-ms-input-placeholder {
  opacity: 0.6;
}
.greeting__name::placeholder {
  opacity: 0.6;
}

.slider-icon {
  width: 60px;
  height: 80px;
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: none;
}
.slider-icon svg {
  width: 60px;
  height: 80px;
  stroke: #fff;
}
.slider-icon:hover svg {
  stroke: #e4e4e4;
  stroke-width: 2;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}
.slider-icon:active svg {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  stroke: lightgray;
  stroke-width: 5;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.slide-prev {
  left: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-next {
  right: 20px;
}

@media screen and (max-width: 768px) {
  .time {
    width: 300px;
    font-size: 70px;
    letter-spacing: -2px;
  }

  .greeting {
    font-size: 20px;
  }
  .greeting__text {
    padding: 2px;
  }
  .greeting__name {
    width: 150px;
    padding: 0px;
    font-size: 20px;
  }
}