.settings {
  display: none;
  position: absolute;
  top: 50%;
  width: 60%;
  height: 70%;
  background: #f7f7f7;
  border-radius: 3px;
  &-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url("/assets/img/settings.png");
    background-size: contain;
    background-position: center center;
  }
  &-checkbox {
    cursor: pointer;
  }
  &__hide-blocks {
    label {
      cursor: pointer;
      user-select: none;
      font-size: 30px;
      color: black;
    }
  }
  &-button-open {
    bottom: 20px;
    left: 20px;
  }
  &-button-close {
    background: url("/assets/img/cancel.png");
    top: 20px;
    right: 20px;
  }
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.anim-open {
  animation: animSettingsOpen 0.5s;
}
.anim-close {
  animation: animSettingsClose 0.5s;
}
@keyframes animSettingsOpen {
  0% {
    display: none;
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    display: block;
    transform: translateY(-50%);
    opacity: 1;
  }
}
@keyframes animSettingsClose {
  0% {
    display: block;
    transform: translateY(-50%);
    opacity: 1;
  }
  100% {
    display: none;
    transform: translateY(0%);
    opacity: 0;
  }
}
