.player {
  margin-top: 30px;
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &-controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  &-progress {
    width: 90%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px 0;
    &-text {
      font-size: 16px;
      letter-spacing: 1.5px;
    }
  }
  &-progress-input {
    appearance: none;
    height: 7px;
    width: 100%;
    border-radius: 3px;
    &::-webkit-slider-thumb {
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50px;
      background: rgb(194, 194, 194);
    }
  }
  &-icon {
    width: 60px;
    height: 60px;
    background-size: contain !important;
    transition: 0.2s;
    &:hover {
      opacity: 0.95;
    }
    &:active {
      opacity: 0.8;
      transform: scale(0.96);
    }
  }
  &-list {
    display: flex;
    flex-direction: column;
    gap: 10px 0;

  }
  &-music {
    position: relative;
    font-size: 30px;
    background: none;
    text-align: left;
    &::before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 60px;
      height: 60px;
      background: url('../../assets/img/play-button.png');
      background-size: contain;
    }
  }
}
.play {
  background: url("../../assets/img/play.png");
  &-prev {
    background: url("../../assets/img/previous.png");
  }
  &-next {
    background: url("../../assets/img/next.png");
  }
  &-volume-button {
    width: 45px;
    height: 46px;
    background: url("../../assets/img/volume.png");
  }
}
.pause {
  background: url("../../assets/img/pause.png");
}

.volume {
  &-control {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 20px;
  }
  &-progress {
    width: 50%;
  }
}
.muted {
  background: url("../../assets/img/mute.png");
}
